<?xml version="1.0" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

    <targets>
        <target name="file" xsi:type="File"
                layout="${longdate} ${logger} ${message}${exception:format=ToString}"
                fileName="${basedir}/Logs/${shortdate}.log"
                keepFileOpen="true"
                encoding="utf-8" />
        <target name="specialFile" xsi:type="File"
                layout="${longdate} ${logger} ${message}${exception:format=ToString}"
                fileName="${specialfolder:folder=ApplicationData}/Aerologos/LOGOS/Logs/${shortdate}.log"
                keepFileOpen="true"
                encoding="utf-8" />
    </targets>

    <rules>
        <logger name="*" minlevel="Debug" writeTo="file" />
        <logger name="*" minlevel="Warning" writeTo="specialFile" />
    </rules>
</nlog>